<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ItemDetails">
  	<resultMap type="ItemDetail" id="itemDetailResultSet">
  		<id property="itemNo" column="ITEMNO" />
  		<result property="itemName" column="ITEMNAME" />
  		<result property="startPrice" column="STARTPRICE" />
  		<result property="bidUnit" column="BIDUNIT" />
  		<result property="deliveryPay" column="DELIVERYPAY" />
  		<result property="origin" column="ORIGIN" />
  		<result property="deleteYN" column="DELETEYN" />
  		<result property="categoryNo" column="CATEGORYNO" />
  		<result property="mNo" column="MEMBERNO" />
  		<result property="auctionCode" column="AUCTIONCODE" />
  		<result property="detail" column="DETAIL" />
  		<result property="deliveryPrice" column="DELIVERYPRICE" />
  		<result property="itemCount" column="ICOUNT" />
  		<result property="mId" column="MEMBERID" />
  		<result property="rating" column="RATING" />
  		<result property="auctionName" column="AUCTIONNAME" />
  		<result property="startDay" column="STARTDAY" />
  		<result property="endDay" column="ENDDAY" />
  		<result property="exitYN" column="EXITYN" />
  		<result property="currentPrice" column="CURRENTPRICE" />
  	</resultMap>
  	
	<resultMap type="Bidding" id="bidResultSet">
		<id property="bidNo" column="BIDNO" />
		<result property="itemNo" column="ITEMNO" />
		<result property="memberNo" column="MEMBERNO" />
		<result property="currentPrice" column="CURRENTPRICE" />
		<result property="bidDate" column="BIDDATE" /> 
	</resultMap>  	
  	
  	
  	<select id="selectDetailItem" resultMap="itemDetailResultSet" parameterType="java.lang.String">
  		SELECT *
  		FROM AUCTIONITEM I
  		JOIN AUCTIONDETAIL D ON(I.ITEMNO = D.ITEMNO)
  		JOIN AUCTION A ON(I.AUCTIONCODE = A.AUCTIONCODE)
  		JOIN MEMBER M ON(I.MEMBERNO = M.MEMBERNO)
  		WHERE I.ITEMNO = #{itemNo}
  	</select>
  	
  	<select id="insertBidding" parameterType="Bidding">
  		INSERT INTO BID VALUES(BID_SEQ.NEXTVAL , #{itemNo} , #{memberNo} , #{currentPrice} , SYSDATE)
  	</select>
  	
  	<select id="selectPrice" resultMap="itemDetailResultSet" parameterType="java.lang.String">
  		SELECT MAX(CURRENTPRICE) AS CURRENTPRICE
  		FROM BID
  		GROUP BY ITEMNO
  		HAVING ITEMNO = #{itemNo}
  	</select>
  	
  	<select id="selectStartPrice" resultMap="itemDetailResultSet" parameterType="java.lang.String">
  		SELECT STARTPRICE
  		FROM AUCTIONITEM
  		WHERE ITEMNO = #{itemNo}
  	</select>
  	
  	<select id="selectMid" resultMap="bidResultSet" parameterType="java.lang.String">
  		SELECT MEMBERNO
  		FROM BID
		WHERE ITEMNO = #{itemNo}
		AND CURRENTPRICE = (SELECT MAX(CURRENTPRICE)
							FROM BID
							GROUP BY ITEMNO
							HAVING ITEMNO = #{itemNo})
  	</select>
  	
  </mapper>