<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<resultMap type="com.kh.eg.board.model.vo.Board" id="boardResultSet">
		<id property="bid" column="BOARDNO"></id>
		<result property="bTitle" column="TITLE"/>
		<result property="bContent" column="BOARDCONTENT"/>
		<result property="bMid" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="bStatus" column="DELETESTATUS"/>
		<result property="bType" column="BOARDSTATUS"/>
		<result property="reStatus" column="REPLYSTATUS"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="sMid" column="SMEMBERNO"/>
		<result property="itemNo" column="ITEMNO"/>
		<result property="userName" column="MEMBERNAME"/>
	</resultMap>
	
	<resultMap type="com.kh.eg.board.model.vo.Board" id="noticeResultSet">
		<id property="bid" column="BOARDNO"></id>
		<result property="bTitle" column="TITLE"/>
		<result property="bContent" column="BOARDCONTENT"/>
		<result property="bMid" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="bStatus" column="DELETESTATUS"/>
		<result property="bType" column="BOARDSTATUS"/>
		<result property="reStatus" column="REPLYSTATUS"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="sMid" column="SMEMBERNO"/>
		<result property="itemNo" column="ITEMNO"/>
		<result property="userName" column="MEMBERNAME"/>
	</resultMap>
	
	<!-- 어레이리스트 추가한 resultMap -->
	<resultMap type="com.kh.eg.board.model.vo.Board" id="boardResultSet2">
		<id property="bid" column="BOARDNO"></id>
		<result property="bTitle" column="TITLE"/>
		<result property="bContent" column="BOARDCONTENT"/>
		<result property="bMid" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="bStatus" column="DELETESTATUS"/>
		<result property="bType" column="BOARDSTATUS"/>
		<result property="reStatus" column="REPLYSTATUS"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="sMid" column="SMEMBERNO"/>
		<result property="itemNo" column="ITEMNO"/>
		<collection property="replyList" javaType="java.util.ArrayList" resultMap="replyResultSet"/>
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rid" column="COMMENTNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="rContent" column="CONTENTS"/>
		<result property="reBid" column="BOARDNO"/>
		<result property="reMid" column="MEMBERNO"/>
		<result property="rStatus" column="DELETESTATUS"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE DELETESTATUS='N'
		AND BOARDSTATUS = 'FREEBOARD'
	</select>
	
	<!-- 게시물 목록 조회용 쿼리문 -->
	<select id="selectBoardList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N'
		AND BOARDSTATUS = 'FREEBOARD'
		ORDER BY WRITEDAY DESC
	</select>
	
	
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD VALUES(BN_SEQ.NEXTVAL, #{bTitle}, #{bContent}, #{bMid}, 
			SYSDATE, 'N', 'FREEBOARD', 'N',0,NULL,NULL )
	</insert>
	
	<!-- 조회수 증가용 -->
	<update id="updateBoardCount" parameterType="java.lang.String">
		UPDATE BOARD
		SET BCOUNT = (SELECT BCOUNT FROM BOARD WHERE BOARDNO = #{bid})+1
		WHERE BOARDNO = #{bid}
	</update>
	
	<!-- 게시판 상세보기 -->
	<select id="selectBoardOne" parameterType="java.lang.String" resultMap="boardResultSet2">
		SELECT * 
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		LEFT JOIN REPLY R ON (R.BOARDNO = B.BOARDNO)
		WHERE B.BOARDNO = #{bid}
		AND B.DELETESTATUS = 'N'
		ORDER BY COMMENTNO DESC
	</select>
	
	<select id="selectWriter" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT MEMBERNAME 
		FROM MEMBER M
		JOIN BOARD B ON(M.MEMBERNO = B.MEMBERNO)
		WHERE B.BOARDNO = #{bid}
	</select>
	
	<select id="replyWriter" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT MEMBERNAME 
		FROM MEMBER M
		JOIN REPLY R ON(M.MEMBERNO = R.MEMBERNO)
		JOIN BOARD B ON(R.BOARDNO = B.BOARDNO)
		WHERE B.BOARDNO = #{bid}
	</select>
	<select id="replyContent" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT R.CONTENTS
		FROM MEMBER M
		JOIN REPLY R ON(M.MEMBERNO = R.MEMBERNO)
		JOIN BOARD B ON(R.BOARDNO = B.BOARDNO)
		WHERE B.BOARDNO = #{bid}
	</select>
	
	<select id="replyDate" parameterType="java.lang.String" resultType="java.sql.Date">
		SELECT R.WRITEDAY
		FROM MEMBER M
		JOIN REPLY R ON(M.MEMBERNO = R.MEMBERNO)
		JOIN BOARD B ON(R.BOARDNO = B.BOARDNO)
		WHERE B.BOARDNO = #{bid}
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES(RN_SEQ.NEXTVAL, SYSDATE, #{rContent},#{reBid},#{reMid},'N')
	</insert>
	
	<update id="deleteBoard" parameterType="java.lang.String">
		UPDATE BOARD SET DELETESTATUS = 'Y' WHERE BOARDNO = #{bid}
	</update>
	
	<select id="replyCount" resultType="_int">
		SELECT COUNT(*) 
		FROM REPLY 
		WHERE BOARDNO=#{bid}
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD SET BOARDCONTENT = #{bContent} WHERE BOARDNO = #{bid}
	</update>
	
	<select id="selectSearchResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N'
		<choose>
			<when test="writer != null">
				AND MEMBERNAME = #{writer}
			</when>
			<when test="title != null">
				AND TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARDCONTENT LIKE '%' || #{content} || '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectSearchResultList" resultMap="boardResultSet">
		SELECT * FROM BOARD B
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N'
		<choose>
			<when test="writer != null">
				AND MEMBERNAME = #{writer}
			</when>
			<when test="title != null">
				AND TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARDCONTENT LIKE '%' || #{content} || '%'
			</otherwise>
		</choose>
		ORDER BY WRITEDAY DESC
	</select>
	
	<select id="selectNotice" resultMap="noticeResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		WHERE B.BOARDSTATUS ='NOTICE'
		AND B.DELETESTATUS ='N'
	</select>
</mapper>