<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emoney">
	<resultMap type="com.kh.eg.emoney.model.vo.emoney" id="emoneyResultSet">
		<id property="payNo" column="PAYNO"/>
		<id property="useNo" column="USENO"/>
		<id property="exchangeNo" column="EXCHANGENO"/>
		<result property="useDay" column="USEDAY"/>
		<result property="money" column="MONEY"/>
		<result property="useStatus" column="USESTATUS"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="exchangeYn" column="EXCHANGEYN"/>
		<result property="userNo" column="USERNO"/>
		<result property="amount" column="AMOUNT"/>
		<result property="payDay" column="PAYDAY"/>
		<result property="cardNo" column="CARDNO"/>
		<result property="payStatus" column="PAYSTATUS"/>
		<result property="refundNo" column="REFUNDNO"/>
		
		
	</resultMap>
	
	<!-- 결제 숫자 조회용 메소드 -->
	<select id="selectEmoneyList" resultType="_int">
		SELECT COUNT(*)
		FROM EMONEYR
		WHERE MEMBERNO = #{memberNo}
	</select>
	
	<insert id="insertEmoney" parameterType="emoney">
		INSERT 
		INTO EMONEYC 
		VALUES(MCN_SEQ.NEXTVAL, #{amount}, SYSDATE,  NULL, #{memberNo}, 'payment',' ')
		
	</insert>
	
	<insert id="insertMemberEmoney" parameterType="emoney">
		INSERT
		INTO EMONEYR
		VALUES(MRN_SEQ.NEXTVAL, SYSDATE,  #{money}, 'C', #{memberNo}, NULL )
	
	
	</insert>
	
	<!-- 결제 목록 조회용 쿼리 -->
	<select id="emoneyList" resultMap="emoneyResultSet" >
		SELECT USENO, USEDAY, MONEY, USESTATUS, MEMBERNO, PAYNO
		FROM EMONEYR E
		WHERE MEMBERNO = #{memberNo}
	</select>
	
	<!-- <select id="selectMemberNowCash">
		SELECT M.EMONEY_NOWCASH FROM (SELECT M.EMONEY_NOWCASH, MEMBER)
	
	
	</select> -->
	
	<!-- <update id="updateEmoney">
		UPDATE 
		MEMBER SET M.EMONEY = MONEY EMONEY + #{emoney} 
		WHERE MEMBERNO = #{memberNo} 
	
	</update> -->
	
	
	

</mapper>