<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap type="com.kh.eg.emoney.model.vo.emoney" id="emoneyResultSet">
		<result property="useNo" column="USENO"/>
		<result property="useDay" column="USEDAY"/>
		<result property="money" column="MONEY"/>
		<result property="userStatus" column="USERSTATUS"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="payNo" column="PAYNO"/>
		<result property="exchangeNo" column="EXCHANGENO"/>
		<result property="exchangeYn" column="EXCHANGEYN"/>
		<result property="userNo" column="USERNO"/>
		<result property="amount" column="AMOUNT"/>
		<result property="payDay" column="PAYDAY"/>
		<result property="cardNo" column="CARDNO"/>
		<result property="payStatus" column="PAYSTATUS"/>
		<result property="refundNo" column="REFUNDNO"/>
		
		
	</resultMap>
	
<!-- 	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBERID = #{userId}
		AND MEMBERPWD = #{userPwd}
		AND BLSTATUS = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MID.NEXTVAL, #{userId}, #{userPwd},
				#{userName}, #{email}, #{birthDay}, #{gender},
				#{phone}, #{address}, SYSDATE, SYSDATE, DEFAULT )
	</insert>
	
	암호화된 비밀번호 조회용 메소드
	<select id="selectPwd" resultType="java.lang.String"
								parameterType="java.lang.String">
	SELECT USER_PWD
	FROM MEMBER
	WHERE USER_ID = #{userId}
	AND STATUS = 'Y'
	</select> -->
	
	<insert id="insertEmoney">
		INSERT 
		INTO EMONEYC 
		VALUES(MCN_SEQ.NEXTVAL, #{amount},SYSDATE,  #{cardNo}, #{memberNo}, #{payStatus}, #{refundNo} );
		)
	</insert>
	
	<select id="emoneyList" resultMap="emoneyResultSet" parameterType="emoney">
		SELECT USENO, USEDAY, MONEY, USESTATUS, MEMBERNO, PAYNO
		FROM EMONEYR		
	</select>
	
	<!-- <insert id="insertMemberCash">
	
	</insert> -->
	

</mapper>