<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Item">
	<resultMap type="com.kh.eg.item.model.vo.Item" id="itemResultSet">
		<id property="itemNo" column="ITEMNO"/>
		<result property="itemName" column="ITEMNAME"/>
		<result property="startPrice" column="STARTPRICE"/>
		<result property="bidUnit" column="BIDUNIT"/>
		<result property="deliveryPay" column="DELIVERYPAY"/>
		<result property="origin" column="ORIGIN"/>
		<result property="deleteYN" column="DELETEYN"/>
		<result property="categoryNo" column="CATEGORYNO"/>
		<result property="mid" column="MEMBERNO"/>
		<result property="auctionCode" column="AUCTIONCODE"/>
		<result property="detail" column="DETAIL"/>
		<result property="deliveryPrice" column="DELIVERYPRICE"/>
		<result property="itemcount" column="ICOUNT"/>
		<result property="lucky" column="LUCKY"/>
	</resultMap>
	<resultMap type="com.kh.eg.attachment.model.vo.Attachment" id="attachmentResultSet">
		<id property="attachmentNo" column="ATTACHMENTNO"/>
		<result property="originName" column="ORIGINNAME"/>
		<result property="changeName" column="CHANGENAME"/>
		<result property="root" column="ROOT"/>
		<result property="fileLevel" column="FILELEVEL"/>
		<result property="addStatus" column="ADDSTATUS"/>
		<result property="deleteYN" column="DELETEYN"/>
		<result property="boardNo" column="BOARDNO"/>
		<result property="itemNo" column="ITEMNO"/>
		
	</resultMap>

	<resultMap type="com.kh.eg.bidding.model.vo.Bid" id="biddingResultSet">
		<id property="bidNo" column="BIDNO"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="currentPrice" column="CURRENTPRICE"/>
		<result property="bidDate" column="BIDDATE"/>
		<result property="itemNo" column="ITEMNO"/>
		
	</resultMap>
	
	<resultMap type="com.kh.eg.auction.model.vo.AuctionDetail" id="auctionDetailResultSet">
			<id property="itemNo" column="ITEMNO"/>
			<result property="startDay" column="STARTDAY"/>
			<result property="endDay" column="ENDDAY"/>
			<result property="exitYN" column="EXITYN"/>
			
	
	
	
	</resultMap>
	
	<resultMap type="com.kh.eg.category.model.vo.Category" id="categoryResultSet">
	
	<id property="categoryNo" column="CATEGORYNO"/>
	<result property="categoryName" column="CATEGORYNAME"/>
	<result property="categoryLevel" column="CATEGORYLEVEL"/>
	<result property="upperCategoryNo" column="UPPERCATEGORYNO"/>
	<result property="deleteYn" column="DELETEYN"/>
	
	</resultMap>
	
	<resultMap type="com.kh.eg.member.model.vo.Member" id="memberResultSet">
	
	<id property="mid" column="MEMBERNO"/>
	<result property="userName" column="MEMBERNAME"/>
	<result property="userId" column="MEMBERID"/>
	<result property="userPwd" column="MEMBERPWD"/>
	<result property="account" column="ACCOUNTN"/>
	<result property="phone" column="PHONE"/>
	<result property="address" column="ADDRESS"/>
	<result property="rating" column="RATING"/>
	<result property="emoney" column="EMONEY"/>
	<result property="wdStatus" column="WDSTATUS"/>
	<result property="blStatus" column="BLSTATUS"/>
	<result property="joinDate" column="JOINDATE"/>
	<result property="email" column="EMAIL"/>
	
	
	</resultMap>
	
	
	<insert id="insertItem" >
	INSERT INTO AuctionItem
	VALUES(#{item.itemNo},#{item.itemName},#{item.startPrice},#{item.bidUnit},
	#{item.deliveryPay},#{item.origin}, 'N' ,#{item.categoryNo},#{item.mid}, #{item.auctionCode} ,#{item.detail},#{item.deliveryPrice},'0',null)
	</insert>
	<insert id="insertAttachment">
	INSERT INTO ATTACHMENT VALUES(AN_SEQ.NEXTVAL, #{attachment.originName},#{attachment.changeName},
	#{attachment.root},0,'Y',null,#{attachment.itemNo}
	)
	</insert>
	<insert id="insertAuctionDetail">
	INSERT INTO AUCTIONDETAIL VALUES(#{auctionDetail.startDay},#{auctionDetail.endDay},'N',#{auctionDetail.itemNo})
	
	
	</insert>
	
	<select id="selectItemNo" resultType="_int">
	SELECT PN_SEQ.NEXTVAL FROM dual  
	
	
	
	</select>
	
	<select id="selectItem" resultMap="itemResultSet" parameterType="java.lang.String">
		select * from auctionitem
	
	</select>
	
	<select id="selectMember" resultMap="memberResultSet" parameterType="java.lang.String">
		select * from member
	
	</select>
	
	
	<select id="selectBid" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT *FROM BID
	
	</select>
	
 	<select id="selectAttachment" resultMap="attachmentResultSet" parameterType="java.lang.String">
		select * from ATTACHMENT  
	
	</select>
	
	<select id="selectCategory" resultMap="categoryResultSet">
		select * from CATEGORY where categorylevel=0
		
	</select>
	
	<select id="selectItemC" resultMap="itemResultSet" parameterType="java.lang.String">
		select * from auctionitem order by icount desc
	
	</select>
	
	<select id="selectAttachmentC" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
	
	<select id="selectBidC" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>



	<select id="selectItemC2" resultMap="itemResultSet" parameterType="java.lang.String">
		select * from auctionitem a left outer join auctiondetail ad on(a.itemno=ad.itemno) order by endday asc 
	
	</select>
	
	<select id="selectAttachmentC2" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
	
		<select id="selectBidC2" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>
	
		<select id="selectItemC3" resultMap="itemResultSet" parameterType="java.lang.String">
		select * from auctionitem a left outer join auctiondetail ad on(a.itemno=ad.itemno) order by startday desc 
	
	</select>
	
		<select id="selectAttachmentC3" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
		<select id="selectBidC3" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>
	
	<select id="selectItemC4" resultMap="itemResultSet" parameterType="java.lang.String">
		select * from auctionitem order by startprice desc
	
	</select>
	
		<select id="selectAttachmentC4" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
	
		<select id="selectBidC4" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>
	
		<select id="selectItemC5" resultMap="itemResultSet" parameterType="java.lang.String">
			select * from auctionitem order by icount desc
	
	</select>
	
		<select id="selectAttachmentC5" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
	
		<select id="selectBidC5" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>
	
	<select id="selectItemC6" resultMap="itemResultSet" parameterType="java.lang.String">
			select * from auctionitem order by icount desc
	
	</select>
	
		<select id="selectAttachmentC6" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
	
		<select id="selectBidC6" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>
	
		<select id="selectItemC7" resultMap="itemResultSet" parameterType="java.lang.String">
			select * from auctionitem 
	
	</select>
	
		<select id="selectAttachmentC7" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT * FROM ATTACHMENT 
	
	</select>
	
		<select id="selectBidC7" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT * FROM BID 
	
	</select>
	
		<select id="selectMemberC" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectMemberC2" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectMemberC3" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectMemberC4" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectMemberC5" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectMemberC6" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectMemberC7" resultMap="memberResultSet" parameterType="java.lang.String">
			select * from member

	</select>
		<select id="selectCategory1" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=1

	</select>
	<select id="selectCategory2" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=2

	</select>
	<select id="selectCategory3" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=3

	</select>
	<select id="selectCategory4" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=4

	</select>
	<select id="selectCategory5" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=5

	</select>
	<select id="selectCategory6" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=6

	</select>
	<select id="selectCategory7" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category where categoryno=7

	</select>
	<select id="selectCategory8" resultMap="categoryResultSet" parameterType="java.lang.String">
			select * from category

	</select>
	
	<select id="selectItemlist1" resultMap="itemResultSet" parameterType="java.lang.String">
	
		select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=1
	
	
	</select>
	
	<select id="selectItemlist2" resultMap="itemResultSet" parameterType="java.lang.String">
	
	select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=2
	
	
	</select>
	<select id="selectItemlist3" resultMap="itemResultSet" parameterType="java.lang.String">
	
	select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=3
	
	
	</select>
	<select id="selectItemlist4" resultMap="itemResultSet" parameterType="java.lang.String">
	
	select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=4
	
	
	</select>
	<select id="selectItemlist5" resultMap="itemResultSet" parameterType="java.lang.String">
	
		select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=5
	
	
	</select>
	<select id="selectItemlist6" resultMap="itemResultSet" parameterType="java.lang.String">
	
	select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=6
	
	
	</select>
	<select id="selectItemlist7" resultMap="itemResultSet" parameterType="java.lang.String">
	
		select * from auctionitem a join category c on(a.categoryno=c.categoryno) where uppercategoryno=7
	
	
	
	</select>
	<select id="selectItemlist8" resultMap="itemResultSet" parameterType="java.lang.String">
	
		select*from auctionitem
	
	
	</select>
	<select id="popularItem" resultMap="itemResultSet" parameterType="java.lang.String" >
		SELECT RNUM,ITEMNO,ITEMNAME,STARTPRICE,BIDUNIT,DELIVERYPAY,ORIGIN,DELETEYN,CATEGORYNO,MEMBERNO,AUCTIONCODE,DETAIL,
DELIVERYPRICE, ICOUNT,STARTDAY FROM(
SELECT ROWNUM RNUM, A.ITEMNO,A.ITEMNAME,A.STARTPRICE,A.BIDUNIT,A.DELIVERYPAY,A.ORIGIN,A.DELETEYN,A.CATEGORYNO,A.MEMBERNO,AUCTIONCODE,DETAIL,
DELIVERYPRICE, ICOUNT,AD.STARTDAY FROM AUCTIONITEM A JOIN AUCTIONDETAIL AD ON(A.ITEMNO=AD.ITEMNO)) 
WHERE RNUM BETWEEN 1 AND 8 ORDER BY STARTDAY DESC
	</select>
	
	<select id="selectMiddleCategory" resultMap="categoryResultSet">
	select * from category where categorylevel=1
	
	</select>
	
	


</mapper>