<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Item">
	<resultMap type="com.kh.eg.item.model.vo.Item" id="itemResultSet">
		<id property="itemNo" column="ITEMNO"/>
		<result property="itemName" column="ITEMNAME"/>
		<result property="startPrice" column="STARTPRICE"/>
		<result property="bidUnit" column="BIDUNIT"/>
		<result property="deliveryPay" column="DELIVERYPAY"/>
		<result property="origin" column="ORIGIN"/>
		<result property="deleteYN" column="DELETEYN"/>
		<result property="categoryNo" column="CATEGORYNO"/>
		<result property="mid" column="MEMBERNO"/>
		<result property="auctionCode" column="AUCTIONCODE"/>
		<result property="detail" column="DETAIL"/>
		<result property="deliveryPrice" column="DELIVERYPRICE"/>
		<result property="itemcount" column="ICOUNT"/>
	</resultMap>
	<resultMap type="com.kh.eg.attachment.model.vo.Attachment" id="attachmentResultSet">
		<id property="attachmentNo" column="ATTACHMENTNO"/>
		<result property="originName" column="ORIGINNAME"/>
		<result property="changeName" column="CHANGENAME"/>
		<result property="root" column="ROOT"/>
		<result property="fileLevel" column="FILELEVEL"/>
		<result property="addStatus" column="ADDSTATUS"/>
		<result property="deleteYN" column="DELETEYN"/>
		<result property="boardNo" column="BOARDNO"/>
		<result property="itemNo" column="ITEMNO"/>
		
	</resultMap>

	<resultMap type="com.kh.eg.bidding.model.vo.Bid" id="biddingResultSet">
		<id property="bidNo" column="BIDNO"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="currentPrice" column="CURRENTPRICE"/>
		<result property="bidDate" column="BIDDATE"/>
		<result property="itemNo" column="ITEMNO"/>
		
	</resultMap>
	
	<resultMap type="com.kh.eg.auction.model.vo.AuctionDetail" id="auctionDetailResultSet">
			<id property="itemNo" column="ITEMNO"/>
			<result property="startDay" column="STARTDAY"/>
			<result property="endDay" column="ENDDAY"/>
			<result property="exitYN" column="EXITYN"/>
			
	
	
	
	</resultMap>
	
	<resultMap type="com.kh.eg.category.model.vo.Category" id="categoryResultSet">
	
	<id property="categoryNo" column="CATEGORYNO"/>
	<result property="categoryName" column="CATEGORYNAME"/>
	<result property="categoryLevel" column="CATEGORYLEVEL"/>
	<result property="upperCategoryNo" column="UPPERCATEGORYNO"/>
	<result property="deleteYn" column="DELETEYN"/>
	
	</resultMap>
	
	
	
	
	<insert id="insertItem" >
	INSERT INTO AuctionItem
	VALUES(#{item.itemNo},#{item.itemName},#{item.startPrice},#{item.bidUnit},
	#{item.deliveryPay},#{item.origin}, 'N' ,#{item.categoryNo},#{item.mid}, #{item.auctionCode} ,#{item.detail},#{item.deliveryPrice},'0')
	</insert>
	<insert id="insertAttachment">
	INSERT INTO ATTACHMENT VALUES(AN_SEQ.NEXTVAL, #{attachment.originName},#{attachment.changeName},
	#{attachment.root},0,'Y',null,#{attachment.itemNo}
	)
	</insert>
	<insert id="insertAuctionDetail">
	INSERT INTO AUCTIONDETAIL VALUES(#{auctionDetail.startDay},#{auctionDetail.endDay},'N',#{auctionDetail.itemNo})
	
	
	</insert>
	
	<select id="selectItemNo" resultType="_int">
	SELECT PN_SEQ.NEXTVAL FROM dual  
	
	
	
	</select>
	
	<select id="selectItem" resultMap="itemResultSet" parameterType="java.lang.String">
		select * from auctionitem
	
	</select>
	
	
	<select id="selectBid" resultMap="biddingResultSet" parameterType="java.lang.String">
		SELECT *FROM BID
	
	</select>
	
 	<select id="selectAttachment" resultMap="attachmentResultSet" parameterType="java.lang.String">
		select * from ATTACHMENT  
	
	</select>
	
	<select id="selectCategory" resultMap="categoryResultSet">
		select * from CATEGORY where categorylevel=0
		
	</select>


</mapper>