<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap type="com.kh.eg.member.model.vo.Member" id="memberResultSet">
		<id property="mid" column="MEMBERNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="userName" column="MEMBERNAME"/>
		<result property="userId" column="MEMBERID"/>
		<result property="userPwd" column="MEMBERPWD"/>
		<result property="account" column="ACCOUNTN"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="rating" column="RATING"/>
		<result property="emoney" column="EMONEY"/>
		<result property="wdStatus" column="WDSTATUS"/>
		<result property="blStatus" column="BLSTATUS"/>
		<result property="joinDate" column="JOINDATE"/>
		<result property="email" column="EMAIL"/>
	</resultMap>
	

	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(MN_SEQ.NEXTVAL, #{userName}, #{userId},
				#{userPwd}, null , #{phone}, #{address},
				'BRONZE', 0, 'N', 'N', SYSDATE, #{email} )
	</insert>
	
 	
	<select id="selectPwd" resultType="java.lang.String"
								parameterType="java.lang.String">
	SELECT MEMBERPWD
	FROM MEMBER
	WHERE MEMBERID = #{userId}
	AND WDSTATUS = 'N'
	</select>  
	
	<select id="selectLoginUser" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBERID = #{userId}
		AND WDSTATUS = 'N'
	</select>
	
	<select id="DuplicationCheck" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBERID = #{userId}
	</select>
	
	<select id="emailDuplicationCheck" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<insert id="insertSnsUser" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(MN_SEQ.NEXTVAL, #{userName}, #{userId},
				#{userPwd}, null , #{phone}, #{address},
				'BRONZE', 0, 'N', 'N', SYSDATE, #{email} )
	</insert>
	
	<insert id="insertNaverUser" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(MN_SEQ.NEXTVAL, #{userName}, #{userId},
				#{userPwd}, null , #{phone}, #{address},
				'BRONZE', 0, 'N', 'N', SYSDATE, #{email} )
	</insert>
	
	<select id="selectListWriter" parameterType="Board" resultMap="memberResultSet">
		SELECT MEMBERNAME
		FROM MEMBER M
		JOIN BOARD B ON(M.MEMBERNO = B.MEMBERNO)
		WHERE B.DELETESTATUS = 'N'
		AND BOARDSTATUS = 'FREEBOARD'
		ORDER BY WRITEDAY DESC
	</select>
	
	<select id="searchListWriter" parameterType="Board" resultMap="memberResultSet">
		SELECT MEMBERNAME
		FROM MEMBER M
		JOIN BOARD B ON(M.MEMBERNO = B.MEMBERNO)
		WHERE B.DELETESTATUS = 'N'
		AND BOARDSTATUS = 'FREEBOARD'
		<choose>
			<when test="writer != null">
				AND MEMBERNAME = #{writer}
			</when>
			<when test="title != null">
				AND TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND BOARDCONTENT LIKE '%' || #{content} || '%'
			</otherwise>
		</choose>
		ORDER BY WRITEDAY DESC
	</select>

</mapper>