<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPage">

	<resultMap type="com.kh.eg.myPage.model.vo.MyPageBoard" id="myPageResultSet">
		<id property="boardNo" column="BOARDNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="title" column="TITLE"/>
		<result property="boardContents" column="BOARDCONTENT"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="deleteStatus" column="DELETESTATUS"/>
		<result property="boardStatus" column="BOARDSTATUS"/>
		<result property="replyStatus" column="REPLYSTATUS"/>
		<result property="rCommentNo" column="COMMENTNO"/>
		<result property="rWriteDay" column="WRITEDAY"/>
		<result property="rContents" column="CONTENTS"/>
		<result property="rDeleteStatus" column="DELETESTATUS"/>		
	</resultMap>
	
	<resultMap type="com.kh.eg.myPage.model.vo.WishList" id="wishListResultSet">
		<id property="wishlistno" column ="WISHLISTNO"/>
		<result property="categoryname" column="CATEGORYNAME"/>
		<result property="itemno" column="ITEMNO"/>
		<result property="itemname" column="ITEMNAME"/>
		<result property="startprice" column="STARTPRICE"/>
		<result property="membername" column="MEMBERNAME"/>
		<result property="endday" column="ENDDAY"/>
	</resultMap>
	
	<!-- 게시글 조회 -->
	<select id="selectMessage" resultMap="myPageResultSet" parameterType="java.lang.String">
		SELECT *
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
		ORDER BY BOARDNO DESC
	</select>
	
	<!-- 게시글 수 조회 -->
	<select id="countMessage" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY 
		WHERE BOARDNO = #{deleteNum}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteMessage" parameterType="int">
		DELETE FROM BOARD 
		WHERE BOARDNO = #{deleteNum} AND BOARDSTATUS = 'ONEBYONE'
	</delete>
	
	<!-- 게시글 등록 -->
	<insert id="insertMessage" parameterType="MyPageBoard">
		INSERT INTO BOARD
		VALUES(BN_SEQ.NEXTVAL, #{title}, #{boardContents}, #{memberNo}, SYSDATE, 'N', 'ONEBYONE', 'N')
	</insert>
	
	<!-- 쪽지제목으로 게시글 조회 -->
	<select id="searchMessage" resultMap="myPageResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD
		WHERE DELETESTATUS = 'N' 
		AND TITLE LIKE '%' || #{searchTitle} || '%' 
		AND BOARDSTATUS = 'ONEBYONE' 
	</select>
	

	<!-- 위시리스트 -->
	<select id="selectWishList" resultMap="wishListResultSet" parameterType="java.lang.String">
		SELECT w.wishlistno,c.categoryname, a.itemno,a.itemname,a.startprice,m.membername,d.endday FROM WISHLIST W JOIN AUCTIONITEM A ON (W.MEMBERNO = A.MEMBERNO) JOIN CATEGORY C ON (A.CATEGORYNO = C.CATEGORYNO) JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO) JOIN AUCTIONDETAIL D ON(D.ITEMNO = A.ITEMNO) WHERE w.deletestatus = 'N' and m.memberno =  #{memberNo}
	</select>
	
	<!-- 위시리스트 삭제 -->
	<update id="deleteWishList"  parameterType="int">
		UPDATE WISHLIST SET DELETESTATUS = 'Y' WHERE WISHLISTNO = #{wishlistno}
	</update>

	<!-- 게시글 상세보기 -->
	<select id="selectOneBoard" resultMap="myPageResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD 
		WHERE DELETESTATUS = 'N'
		AND BOARDSTATUS = 'ONEBYONE'
		AND BOARDNO = #{boardNo}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET MEMBERPWD = #{userPwd}, PHONE = #{phone}, ADDRESS = #{address} WHERE MEMBERNO = #{mid}
	</update>

	<!-- 회원정보 삭제 -->
	<update id="deleteUserInfo" parameterType="java.lang.String">
		UPDATE MEMBER SET WDSTATUS = 'Y' WHERE MEMBERNO = #{mid}
	</update>
</mapper>