<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPage">

	<!-- 1대1 게시판 조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.MyPageBoard" id="myPageOneResultSet">
		<id property="boardNo" column="BOARDNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="title" column="TITLE"/>
		<result property="boardContents" column="BOARDCONTENT"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="deleteStatus" column="DELETESTATUS"/>
		<result property="boardStatus" column="BOARDSTATUS"/>
		<result property="replyStatus" column="REPLYSTATUS"/>
		<result property="rCommentNo" column="COMMENTNO"/>
		<result property="rWriteDay" column="WRITEDAY"/>
		<result property="rContents" column="CONTENTS"/>
		<result property="rDeleteStatus" column="DELETESTATUS"/>	
		<result property="saleMemberNo" column="SMEMBERNO"/>	
		<result property="itemNo" column="ITEMNO"/>
		<result property="saleMemberName" column="SMEMBERNAME"/>
	</resultMap>
	
	<!-- 위시리스트 조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.WishList" id="wishListResultSet">
		<id property="wishlistno" column ="WISHLISTNO"/>
		<result property="categoryname" column="CATEGORYNAME"/>
		<result property="itemno" column="ITEMNO"/>
		<result property="itemname" column="ITEMNAME"/>
		<result property="startprice" column="STARTPRICE"/>
		<result property="membername" column="MEMBERNAME"/>
		<result property="endday" column="ENDDAY"/>
	</resultMap>
	
	<!-- 계좌조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.Maccount" id="selectAccount">
		<id property="accountNo" column="ACCOUNTNO"/>
		<result property="bankName" column="BANKNAME"/>
		<result property="mid" column="MEMBERNO"/>
		<result property="memberName" column="ACNAME"/>
		<result property="createDay" column="CREATEDAY"/>
	</resultMap>
	
	<!-- 유저정보 조회 -->
	<resultMap type="com.kh.eg.member.model.vo.Member" id="memberResultSet">
		<id property="mid" column="MEMBERNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="userName" column="MEMBERNAME"/>
		<result property="userId" column="MEMBERID"/>
		<result property="userPwd" column="MEMBERPWD"/>
		<result property="account" column="ACCOUNTN"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="rating" column="RATING"/>
		<result property="emoney" column="EMONEY"/>
		<result property="wdStatus" column="WDSTATUS"/>
		<result property="blStatus" column="BLSTATUS"/>
		<result property="joinDate" column="JOINDATE"/>
		<result property="email" column="EMAIL"/>
	</resultMap>
	
	
	
	<!-- 낙찰조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.WinBid" id="winBidResultSet">
		<id property="dealNo" column="DEALNO"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="itemNo" column="ITEMNO"/>
	</resultMap>
	

	<!-- 입찰중 물품 리스트 resultMap -->
	<resultMap type="com.kh.eg.myPage.model.vo.PayTable" id="payTableResultSet">
		<id property="itemNo" column="ITEMNO"/>
		<result property="bidNo" column="BIDNO"/>
		<result property="itemName" column="ITEMNAME"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="memberName" column="MEMBERNAME"/>
		<result property="currentPrice" column="CURRENTPRICE"/>
		<result property="rowBid" column="RANKING"/>
		<result property="saleMemberName" column="SMEMBERNAME"/>
		<result property="startDay" column="STARTDAY"/>
		<result property="endDay" column="ENDDAY"/>
		<result property="deliveryPay" column="DELIVERYPAY"/>
		<result property="auctioncode" column="AUCTIONCODE"/>
		<result property="endYn" column="EXITYN"/>
		<result property="orderM" column="ORDERM"/> 
  	</resultMap>
  	
  	<!-- 마이페이지 메인에 뿌릴 리스트 -->
  	<resultMap type="com.kh.eg.myPage.model.vo.MainList" id="mainListResultSet">
  		<id property="dealNo" column="DEALNO"/>
  		<result property="payNo" column="PAYNO"/>
  		<result property="saleNo" column="SALENO"/>
  		<result property="orderM" column="ORDERM"/>
  	</resultMap>
  	
  	<!-- 회원등급 페이지 -->
  	<resultMap type="com.kh.eg.myPage.model.vo.RatingMyPage" id="ratingTableResultSet">
  		<id property="count" column="COUNT"></id>
  		<result property="amount" column="AMOUNT"></result>
  	
  	</resultMap>
	
	<!-- 구매관리 입찰중 물품 차순위 조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.PayTable" id="secondRankResultSet">
		<id property="itemNo" column="ITEMNO"/>
		<result property="rowBid" column="RANKING"/>
	</resultMap>
	
	<!-- 문의받은게시판조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.AnswerBoard" id="answerBoardResultSet">
		<id property="boardNo" column="BOARDNO"/>
		<result property="itemNo" column="ITEMNO"/>
		<result property="title" column="TITLE"/>
		<result property="replystatus" column="REPLYSTATUS"/>
		<result property="memberId" column="MEMBERID"/>
		<result property="memberName" column="MEMBERNAME"/>
		<result property="memberContents" column="BOARDCONTENT"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="writeDay" column="WRITEDAY"/>
	</resultMap>
	
	
	
	<!-- 게시글 조회 -->
	<select id="selectMessage" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT *
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
		ORDER BY WRITEDAY DESC
	</select>
	
	<!-- 게시글 페이징 조회 -->
	<select id="countMessage" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
	</select>
	
	<!-- 쪽지함 검색 페이징 처리 -->
	<select id="countMessageSearch" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND TITLE LIKE '%' || #{title} || '%' AND MEMBERNO = #{memberNo} 
	</select>
	
	<!-- 댓글 삭제 -->
	<update id="deleteReply" parameterType="int">
		UPDATE REPLY SET DELETESTATUS = 'Y' 
		WHERE BOARDNO = #{deleteNum}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteMessage" parameterType="int">
		UPDATE BOARD SET DELETESTATUS = 'Y' WHERE BOARDNO = #{deleteNum}
	</update>
	
	<!-- 게시글 등록 -->
	<insert id="insertMessage" parameterType="MyPageBoard">
		INSERT INTO BOARD
		VALUES(BN_SEQ.NEXTVAL, #{title}, #{boardContents}, #{memberNo}, SYSDATE, 'N', 'ONEBYONE', 'N', 0, NULL, NULL)
	</insert>
	
	<!-- 검색으로 게시글 조회 -->
	<select id="searchMessage" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD
		WHERE DELETESTATUS = 'N' 
		AND TITLE LIKE '%' || #{title} || '%' 
		AND BOARDSTATUS = 'ONEBYONE' 
		AND MEMBERNO = #{memberNo}
	</select>
	

	<!-- 위시리스트 -->
	<select id="selectWishList" resultMap="wishListResultSet" parameterType="java.lang.String">
		SELECT w.wishlistno,c.categoryname, a.itemno,a.itemname,a.startprice,m.membername,d.endday FROM WISHLIST W JOIN AUCTIONITEM A ON (W.ITEMNO = A.ITEMNO) JOIN CATEGORY C ON (A.CATEGORYNO = C.CATEGORYNO) JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO) JOIN AUCTIONDETAIL D ON(D.ITEMNO = A.ITEMNO) WHERE w.deletestatus = 'N' and w.memberno =  #{memberNo}
	</select>
	
	<!-- 위시리스트 삭제 -->
	<delete id="deleteWishList"  parameterType="int">
		
		DELETE FROM WISHLIST WHERE WISHLISTNO = #{wishlistno}
	</delete>
	
	<!-- 게시글 상세보기 -->
	<select id="selectOneBoard" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD 
		WHERE DELETESTATUS = 'N'
		AND BOARDSTATUS = 'ONEBYONE'
		AND BOARDNO = #{boardNo}
	</select>
	
	<!-- 회원정보 조회 -->
	<select id="selectMember" resultMap="memberResultSet" parameterType="Member">
		SELECT * FROM MEMBER WHERE MEMBERNO = #{mid}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET MEMBERPWD = #{userPwd}, PHONE = #{phone}, ADDRESS = #{address} WHERE MEMBERNO = #{mid}
	</update>

	<!-- 회원정보 삭제전 거래번호가 있는지 조회 -->
	<select id="selectWinbid" resultMap="winBidResultSet" parameterType="java.lang.String">
		SELECT * FROM WINBID 
		WHERE MEMBERNO = #{mid}
	</select>

	<!-- 회원정보 삭제 -->
	<update id="deleteUserInfo" parameterType="java.lang.String">
		UPDATE MEMBER SET WDSTATUS = 'Y' WHERE MEMBERNO = #{mid}
	</update>
	
	<!-- 댓글조회 -->
	<select id="selectOneReply" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM REPLY 
		WHERE BOARDNO = #{boardNo}
		AND DELETESTATUS = 'N'
	</select>
	
	<!-- 계좌조회 -->
	<select id="selectAccount" resultMap="selectAccount" parameterType="java.lang.String">
		SELECT * FROM MACCOUNT
		WHERE MEMBERNO = #{mid}
	</select>
	
	<!-- 계좌등록 -->
	<insert id="insertAccount" parameterType="Maccount">
		INSERT INTO MACCOUNT
   		VALUES(#{accountNo}, #{bankName}, #{mid}, #{memberName}, SYSDATE)
	</insert>
	
	<!-- 계좌변경 -->
	<update id="updateAccount" parameterType="Maccount">
		UPDATE MACCOUNT 
		SET ACCOUNTNO = #{accountNo}, BANKNAME = #{bankName}, MEMBERNO = #{mid}, ACNAME =  #{memberName}, CREATEDAY = SYSDATE
		WHERE MEMBERNO = #{mid}
	</update>
	
	<!-- 계좌등록이나 변경시 회원 계좌 컬럼 업데이트 -->
	<update id="updateMemberAc" parameterType="Maccount">
		UPDATE MEMBER 
		SET ACCOUNTN = #{accountNo} 
		WHERE MEMBERNO = #{mid}
	</update>
	
	<!-- 문의게시판 페이징 처리 -->
	<select id="countQueryBoard" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'RECEIVEBOARD' AND MEMBERNO = #{memberNo}
	</select>
	
	<!-- 문의게시판 조회 -->
	<select id="selectQueryBoard" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT B.BOARDNO BOARDNO, B.TITLE TITLE, B.BOARDCONTENT BOARDCONTENT, B.MEMBERNO MEMBERNO, B.WRITEDAY WRITEDAY, B.DELETESTATUS DELETESTATUS, B.BOARDSTATUS BOARDSTATUS, B.REPLYSTATUS REPLYSTATUS, B.BCOUNT BCOUNT, B.SMEMBERNO SMEMBERNO, B.ITEMNO ITEMNO, M.MEMBERNAME SMEMBERNAME 
		FROM BOARD B
        JOIN MEMBER M ON(B.SMEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N' 
		AND B.BOARDSTATUS = 'QUESTIONBOARD' 
		AND B.MEMBERNO = #{memberNo} 
		ORDER BY WRITEDAY DESC
	</select>
	
	<!-- 문의게시판 상세보기 -->
	<select id="selectOneQuery" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD 
		WHERE DELETESTATUS = 'N'
		AND BOARDSTATUS = 'QUESTIONBOARD'
		AND BOARDNO = #{boardNo}
	</select>
	
	<!-- 문의게시판 검색 페이징 처리 -->
	<select id="searchCountQuery" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM BOARD B  
        JOIN MEMBER M ON(B.SMEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N' 
		AND B.BOARDSTATUS = 'QUESTIONBOARD' 
		AND B.MEMBERNO = #{memberNo}	
		<choose>
			<when test="writer != null">
				AND M.MEMBERNAME LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND TITLE LIKE '%' || #{title} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 문의게시판 검색 -->
	<select id="searchQuery" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT B.BOARDNO BOARDNO, B.TITLE TITLE, B.BOARDCONTENT BOARDCONTENT, B.MEMBERNO MEMBERNO, B.WRITEDAY WRITEDAY, B.DELETESTATUS DELETESTATUS, B.BOARDSTATUS BOARDSTATUS, B.REPLYSTATUS REPLYSTATUS, B.BCOUNT BCOUNT, B.SMEMBERNO SMEMBERNO, B.ITEMNO ITEMNO, M.MEMBERNAME SMEMBERNAME 
		FROM BOARD B
        JOIN MEMBER M ON(B.SMEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N' 
		AND B.BOARDSTATUS = 'QUESTIONBOARD' 
		AND B.MEMBERNO = #{memberNo} 
		<choose>
			<when test="writer != null">
				AND M.MEMBERNAME LIKE '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				AND TITLE LIKE '%' || #{title} || '%'
			</when>
		</choose>
		ORDER BY WRITEDAY DESC
	</select>
	
		<!-- 문의받은게시판 조회 -->
	<select id="selectanswerBoard" resultMap="answerBoardResultSet" parameterType="java.lang.String">
		SELECT B.BOARDNO, B.ITEMNO, B.TITLE, B.REPLYSTATUS, M.MEMBERID, B.WRITEDAY
		FROM BOARD B JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO) WHERE B.BOARDSTATUS = 'RECEIVEBOARD' AND B.SMEMBERNO = #{memberNo}
	</select>
	
	<!-- 문의받은게시판 상세 조회-->
	<select id="selectdetailanswer" resultMap="answerBoardResultSet" parameterType="java.lang.String">
		SELECT B.BOARDNO, B.ITEMNO, M.MEMBERNAME, B.TITLE, B.BOARDCONTENT FROM BOARD B JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO) WHERE B.BOARDSTATUS = 'RECEIVEBOARD' AND B.BOARDNO = #{searchTitle}
	</select>
	
	<!--//답변페이지 게시판번호 물품번호조회  -->
	<!-- <select id="reanswerDetail" resultMap="answerBoardResultSet" parameterType="java.lang.String">
		SELECT B.BOARDNO, B.ITEMNO , M.MEMBERNAME FROM BOARD B JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO) WHERE B.BOARDSTATUS = 'RECEIVEBOARD' AND B.BOARDNO = #{answerno}
	</select> -->
	
<!-- ============================================================================================= -->
	<!-- 구매관리 입찰중 쿼리문들 -->
	
	<!-- 구매관리 입찰중 물품 리스트 페이징 처리 -->
	<select id="countPayList" resultType="_int" parameterType="java.lang.String"> 
		SELECT COUNT(DISTINCT MEMBERNO) FROM BID WHERE MEMBERNO = #{mid}
	</select> 
	
	<!-- 구매관리 입찰중 물품 갯수 조회 -->
	<select id="countPayListMain" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(ITEMNO) 
		FROM BID 
		WHERE MEMBERNO = #{userId} 
	</select>
	
	<!-- 입찰중인 물품 조회 -->
	<select id="selectContinueBidList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT I.ITEMNO, I.ITEMNAME, B.BIDNO, B.CURRENTPRICE, M.MEMBERNAME AS SMEMBERNAME, TO_CHAR(A.ENDDAY,'YYYY/MM/DD HH24:MI:SS') AS ENDDAY, I.AUCTIONCODE, A.EXITYN
		FROM BID B
		JOIN AUCTIONITEM I ON(B.ITEMNO = I.ITEMNO)
		JOIN MEMBER M ON(I.MEMBERNO = M.MEMBERNO)
		JOIN AUCTIONDETAIL A ON(B.ITEMNO = A.ITEMNO)
		WHERE B.MEMBERNO = #{mid}
		ORDER BY B.BIDNO ASC
	</select>
	
	<!-- 입찰수 조회 -->
	<select id="bidCount" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM BID WHERE ITEMNO = #{itemNo}
	</select>
	
	<!-- 입찰순위 조회 -->
	<select id="searchBidRank" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT RANK() OVER (ORDER BY CURRENTPRICE DESC) AS RANKING, BIDNO, CURRENTPRICE, ITEMNO, M.MEMBERNAME 
		FROM BID 
        JOIN MEMBER M ON(BID.MEMBERNO = M.MEMBERNO)
		WHERE ITEMNO = #{itemNo}
	</select>
	
	<!-- 입찰 최고순위 조회용 아이템번호 찾기 -->
	<select id="searchFirstBidItemNo" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT ITEMNO FROM BID WHERE MEMBERNO = #{userId}
	</select>
	
	<!-- 입찰 최고순위 조회 -->
	<select id="selectFirstBid" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT RANK() OVER (ORDER BY CURRENTPRICE DESC) AS RANKING, MEMBERNO 
		FROM BID 
		WHERE ITEMNO = #{itemNo}
	</select>
	
	<!-- 구매관리 입찰중 물품 차순위 갯수 찾기 위한 아이템번호 찾기 -->
	<select id="countSecondSearchItemNo" resultMap="secondRankResultSet" parameterType="java.lang.String">
		SELECT DISTINCT ITEMNO FROM BID WHERE MEMBERNO = 11 ORDER BY ITEMNO DESC
	</select>
	
	<!-- 구매관리 입찰중 물품 차순위 갯수 -->
	<select id="countSecondRank" resultType="PayTable" parameterType="java.lang.String">
		SELECT DISTINCT RANK() OVER (ORDER BY ITEMNO DESC) AS RANKING, ITEMNO
		FROM BID
		WHERE MEMBERNO = #{userId} 
		AND ITEMNO = #{itemNo}
	</select>

<!-- ============================================================================================= -->

	<!-- 낙찰받은 물품 페이징 -->
	<select id="winBidCountList" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(DISTINCT B.ITEMNO) 
		FROM BID B JOIN AUCTIONDETAIL A ON(B.ITEMNO = A.ITEMNO) 
		WHERE B.MEMBERNO = #{mid} 
		AND A.EXITYN = 'Y'
	</select>	
	
	<!-- 낙찰받은 물품 목록 조회 -->
	<select id="selectWinBidListSearchItemNo" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT DISTINCT B.ITEMNO, I.AUCTIONCODE
		FROM BID B
        JOIN AUCTIONITEM I ON(B.ITEMNO = I.ITEMNO)
		WHERE B.MEMBERNO = #{mid}
        ORDER BY B.ITEMNO ASC
	</select>
	
	<select id="selectWinBidList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT I.ITEMNO, I.ITEMNAME, B.BIDNO, B.CURRENTPRICE, TO_CHAR(A.ENDDAY,'YYYY/MM/DD HH24:MI:SS') AS ENDDAY, I.AUCTIONCODE, M.MEMBERNAME AS SMEMBERNAME, I.DELIVERYPAY, A.EXITYN
		FROM BID B
		JOIN AUCTIONITEM I ON(B.ITEMNO = I.ITEMNO)
		JOIN MEMBER M ON(I.MEMBERNO = M.MEMBERNO)
		JOIN AUCTIONDETAIL A ON(B.ITEMNO = A.ITEMNO)             
		WHERE B.MEMBERNO = #{mid}
		AND A.EXITYN = 'Y'
        ORDER BY I.ITEMNO ASC
	</select>
	
	<!-- 낙찰받은 물품 순위 -->
	<select id="selectWinBidRank" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT RANK() OVER (ORDER BY CURRENTPRICE DESC) AS RANKING, BIDNO, CURRENTPRICE, ITEMNO
		FROM BID 
		WHERE ITEMNO = #{itemNo}
	</select>	
	
	<!-- 행운경매 낙찰된 물품 -->
	<select id="selectLuckyWinBid" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT B.CURRENTPRICE
		FROM BID B
		JOIN AUCTIONITEM I ON(B.ITEMNO = I.ITEMNO)
		JOIN MEMBER M ON(I.MEMBERNO = M.MEMBERNO)
		JOIN AUCTIONDETAIL A ON(B.ITEMNO = A.ITEMNO)
       	WHERE I.ITEMNO = #{itemNo}
		AND A.EXITYN = 'Y'
        AND B.CURRENTPRICE >= I.LUCKY
		ORDER BY B.BIDNO ASC
	</select>
	
	<!-- 낙찰받지 못한 물품 금액 조회 -->
	<select id="selectFalseBidPay" resultType="PayTable" parameterType="java.lang.String">
		SELECT MAX(CURRENTPRICE) AS CURRENTPRICE
		FROM BID 
		WHERE ITEMNO = #{itemNo}
	</select>
	
	<!-- 낙찰받지 못한 물품 나머지 조회 -->
	<select id="countFalseBid" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT B.ITEMNO, I.ITEMNAME, B.BIDNO, B.CURRENTPRICE, TO_CHAR(A.ENDDAY,'YYYY/MM/DD HH24:MI:SS') AS ENDDAY, B.MEMBERNO, M.MEMBERNAME AS SMEMBERNAME
		FROM BID B 
		JOIN AUCTIONITEM I ON(B.ITEMNO = I.ITEMNO) 
		JOIN AUCTIONDETAIL A ON(B.ITEMNO = A.ITEMNO) 
		JOIN MEMBER M ON(I.MEMBERNO = M.MEMBERNO)
		WHERE A.EXITYN = 'Y' 
		AND B.MEMBERNO = #{mid}
		AND ITEMNO = #{itemNo}
		AND CURRENTPRICE <![CDATA[
		<
	]]> #{currentPrice}
	</select>
	
	<!-- 낙찰받지 못한 물품 랭킹 -->
	<select id="countFalseBidRank" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT CURRENTPRICE, ITEMNO 
		FROM BID 
		WHERE MEMBERNO = #{mid} 
		AND CURRENTPRICE NOT IN (SELECT MAX(CURRENTPRICE) FROM BID WHERE MEMBERNO = #{mid})
	</select>
	
<!-- ============================================================================================= -->
	<!-- 입금요청 -->
	<!-- 입금요청 물품 목록 페이징 -->
	<select id="countPayContinueList" resultType="payTable" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE MEMBERNO = #{mid}
		AND D.ORDERM = '입금요청'
	</select>
	
	<!-- 입금요청 물품 목록 넘긴 아이템번호 없을때 페이징  -->
	<select id="getPayContinueList2" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) FROM WINBID WHERE MEMBERNO = #{mid}
	</select>
	
	<!-- 입금요청 물품 목록 리스트 -->
	<select id="selectPayContinueList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, TO_CHAR(D.ENDDAY,'YYYY/MM/DD HH24:MI:SS') AS ENDDAY, M.MEMBERNO, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(W.ITEMNO = D.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '입금요청'
	</select>
	
	<!-- 입금요청 물품 리스트 낙찰금액 조회 -->
	<select id="selectPayContinueListPayment" resultType="PayTable" parameterType="java.lang.String">
		SELECT DISTINCT CURRENTPRICE 
		FROM BID
		WHERE CURRENTPRICE = (SELECT MAX(CURRENTPRICE) FROM BID WHERE ITEMNO = #{itemNo})
	</select>
	
	<!-- 아이템번호 없을때 물품 목록 조회 -->
	<select id="searchWinBidItemNo" resultMap="winBidResultSet" parameterType="java.lang.String">
		SELECT ITEMNO FROM WINBID WHERE MEMBERNO = #{mid}
	</select>
	
	<!-- 입금요청 물품 목록 리스트 낙찰가 조회 -->
	<select id="continueWinBidPay" resultType="PayTable" parameterType="java.lang.String">
		SELECT CURRENTPRICE 
		FROM BID 
		WHERE ITEMNO = #{itemNo}
		AND CURRENTPRICE = (SELECT MAX(CURRENTPRICE) FROM BID WHERE ITEMNO = #{itemNo})
	</select>
	
	<!-- winbiddetail에 isnert위해 판매자 번호 조회 -->
	<select id="selectSaleMemberNo" resultType="PayTable" parameterType="java.lang.String">
		SELECT MEMBERNO FROM AUCTIONITEM WHERE ITEMNO = #{itemNo}
	</select>
	
	<!-- winbid에 insert 하기위해 winbiddetail select -->
	<select id="winBidSelect" resultType="WinBid" parameterType="java.lang.String">
		SELECT DEALNO 
		FROM WINBID
		WHERE MEMBERNO = #{mid}
		AND ITEMNO = #{itemNo}
	</select>
	
	<!-- insert 되있는게 있는지 확인 -->
	<select id="selectWinBid" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID
		WHERE MEMBERNO = #{mid}
		AND ITEMNO = #{itemNo} 
	</select>
	
	<!-- winbid에 insert -->
	<insert id="winBidInsert" parameterType="java.lang.String">
		INSERT INTO WINBID VALUES(#{mid}, #{itemNo}, TN_SEQ.NEXTVAL, #{price})
	</insert>
	
	<!-- 입금요청시 거래진행이므로 winbiddetail에 insert -->
	<insert id="winBidDetailInsert" parameterType="java.lang.String">
		INSERT INTO WINBIDDETAIL VALUES(#{dealNo}, '거래신청', '거래중', 'N', #{mid}, NULL, NULL, #{saleMemberNo}, NULL)
	</insert>

	<!-- 배송요청 페이징 처리 -->
	<select id="deliveryListCount" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
        JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		JOIN EMONEYC E ON(W.DEALNO = E.DEALNO) 
		WHERE W.MEMBERNO = #{mid}
        AND B.ORDERM = '배송요청'
	</select>

	<!-- 배송요청 목록 조회 -->
	<select id="selectDeliveryList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '배송요청'
	</select>
	
	<!-- 배송중 페이징 처리 -->
	<select id="getShippingListCount" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid} 
		AND B.ORDERM = '배송중'
	</select>
	
	<!-- 배송중 목록 조회 -->
	<select id="selectShipping" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '배송중'
	</select>
	
	<!-- 구매결정대기 페이징 처리 -->
	<select id="getWatingListCount" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '배송완료'
	</select>
	
	<!-- 구매결정대기 목록 조회 -->
	<select id="selectWaiting" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '배송완료'
	</select>
	
	<!-- 수령이후 송금예정 -->
	<select id="getAfterSend" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '구매확정'
	</select>
	
	<!-- 수령이후 입금 목록 조회 -->
	<select id="selectAfterSend" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '구매확정'
	</select>
	
	<!-- 거래완료 페이징 -->
	<select id="getTransactionComplete" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '거래완료'
	</select>

	<!-- 거래완료 목록 조회 -->
	<select id="selectTransactionCompleteList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '거래완료'
	</select>
<!-- ============================================================================================= -->

	<!-- 구매거부 winbid insert -->
	<insert id="noPayInsert" parameterType="java.lang.String">
		INSERT INTO WINBID VALUES(#{mid}, #{itemNo}, TN_SEQ.NEXTVAL, #{currentPrice})
	</insert>
	
	<!-- 구매거부 winbiddetail insert -->
	<insert id="noPayDetailInsert" parameterType="java.lang.String">
		INSERT INTO WINBIDDETAIL VALUES(#{dealNo}, '구매거부', '거래중', 'N', #{mid}, NULL, NULL, #{saleMemberNo}, NULL)
	</insert>
	
	<!-- 구매거부 페이징 처리 -->
	<select id="getPurchaseOther" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '구매거부'
	</select>
	
	<!-- 구매거부 목록 조회 -->
	<select id="selectPurChaseOther" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME, T.ORDERM
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '구매거부'
	</select>
	
	<!-- 반품winbid에 insert -->
	<insert id="returnInsert" parameterType="java.lang.String">
		INSERT INTO WINBID VALUES(#{mid}, #{itemNo}, TN_SEQ.NEXTVAL, #{currentPrice})
	</insert>

	<!-- 반품 winbidDetail에 insert -->
	<insert id="returnDetailInsert" parameterType="java.lang.String">
		INSERT INTO WINBIDDETAIL VALUES(#{dealNo}, '반품신청', '거래중', 'N', #{mid}, NULL, NULL, #{saleMemberNo}, NULL)
	</insert>
	
	<!-- 반품 페이징 처리 -->
	<select id="getReturn" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '반품중'
	</select>
	
	
	<!-- 반품 목록 조회 -->
	<select id="selectReturnList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME, T.ORDERM
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '반품중'
	</select>
	
	<!-- 미입금 winbid에 insert -->
	<insert id="noPaymentInsert" parameterType="java.lang.String">
		INSERT INTO WINBID VALUES(#{mid}, #{itemNo}, TN_SEQ.NEXTVAL, #{currentPrice})
	</insert>
	
	<!-- 미입금 winbidDetail에 insert -->
	<insert id="noPaymentDetailInsert" parameterType="java.lang.String">
		INSERT INTO WINBIDDETAIL VALUES(#{dealNo}, '미입금', '거래중', 'N', #{mid}, NULL, NULL, #{saleMemberNo}, NULL)
	</insert>
	
	<!-- 미입금 페이징 처리 -->
	<select id="getNoPayment" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '미입금'
	</select>
	
	<!-- 미입금 목록 조회 -->
	<select id="selectNoPaymentList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME, T.ORDERM
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '미입금'
	</select>
	
	<!-- 판매거부 페이징 -->
	<select id="getRefuseSell" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '판매거부'
	</select>
	
	<!-- 판매거부 목록 조회 -->
	<select id="selectRefuseSellList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME, T.ORDERM
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '판매거부'
	</select>
	
	<!-- 미수령 신고 winbid insert -->
	<insert id="notReceivingInsert" parameterType="java.lang.String">
		INSERT INTO WINBID VALUES(#{mid}, #{itemNo}, TN_SEQ.NEXTVAL, #{currentPrice})
	</insert>
	
	<!-- 미수령 신고 winbidDetail insert -->
	<insert id="notReceivingDetailInsert" parameterType="java.lang.String">
		INSERT INTO WINBIDDETAIL VALUES(#{dealNo}, '미수령', '거래중', 'N', #{mid}, NULL, NULL, #{saleMemberNo}, NULL)
	</insert>
	
	<!-- 미수령 신고 페이징 -->
	<select id="getNotReceiving" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL B ON(W.DEALNO = B.DEALNO)
		WHERE W.MEMBERNO = #{mid}
		AND B.ORDERM = '미수령'
	</select>
	
	
	<!-- 미수령 신고 목록 조회 -->
	<select id="selectNotReceivingList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME, T.ORDERM
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '미수령'
	</select>
<!-- ============================================================================================= -->
	
	<!-- 판매관리 메인페이지 페이징 -->
	<select id="saleStatus" resultType="_int" parameterType="java.lang.String">	
		SELECT COUNT(A.ITEMNO) 
		FROM AUCTIONITEM A
		JOIN BID B ON(A.ITEMNO = B.ITEMNO)
		WHERE A.MEMBERNO = #{mid}
	</select>
			
	<!-- 판매관리 목록 조회 -->
	<select id="selectSaleStatusList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT DISTINCT A.ITEMNO, A.ITEMNAME, D.STARTDAY, D.ENDDAY, D.EXITYN
		FROM AUCTIONITEM A 
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		WHERE A.MEMBERNO = #{mid}
	</select>	
	
	<!-- 판매관리 경매종료 페이징 -->
	<select id="getEndOfSale" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(A.ITEMNO)
		FROM AUCTIONITEM A 
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		WHERE A.MEMBERNO = #{mid}
		AND D.EXITYN = 'Y'
	</select>
	
	<!-- 판매관리 경매종료 목록 조회 -->
	<select id="selectEndOfSaleList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT DISTINCT A.ITEMNO, A.ITEMNAME, D.STARTDAY, D.ENDDAY, D.EXITYN
		FROM AUCTIONITEM A 
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		WHERE A.MEMBERNO = #{mid}
		AND D.EXITYN = 'Y'
	</select>
	
	<!-- 판매관리 거래신청 페이징 -->
	<select id="getBidderItem" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '거래신청'
	</select>
	
	<!-- 판매관리 거래신청 목록 조회 -->
	<select id="selectBidderItemList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '거래신청'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 입금요청 위해 dealNo 찾기 -->
	<select id="searchDealNo" resultMap="winBidResultSet" parameterType="java.lang.String">
		SELECT W.DEALNO 
		FROM WINBID W
        JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE W.ITEMNO = #{itemNo}
	</select>
	
	<!-- winbidDetail update -->
	<update id="salesItemProgressUpdate" parameterType="java.lang.String">
		UPDATE WINBIDDETAIL SET ORDERM = '입금요청' 
		WHERE SALENO = #{mid}
		AND DEALNO = #{dealNo}
	</update>
	
	<!-- 판매관리 입금요청 페이징 -->
	<select id="getSalesItemProgress" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE D.ORDERM = '입금요청'
		AND SALENO = #{mid}
	</select>
	
	<!-- 판매관리 입금신청 목록 조회 -->
	<select id="selectSalesItemProgressList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '입금요청'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 배송요청 페이징 -->
	<select id="getRequestDeliverySale" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '배송요청'
	</select>
	
	<!-- 판매관리 배송요청 목록 조회 -->
	<select id="selectRequestDeliverySaleList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '배송요청'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 구매결정 대기 페이징 -->
	<select id="getSaleWaiting" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '배송완료'
	</select>
	
	<!-- 판매관리 구매결정대기 목록 조회 -->
	<select id="selectSaleWaitingList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '배송완료'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 수령이후 송금 페이징 -->
	<select id="getAfterReceipt2" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '구매확정'
	</select>
	
	<!-- 판매관리 수령이후 송금 목록 조회 -->
	<select id="selectAfterReceipt2" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '구매확정'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 거래완료 페이징 -->
	<select id="getTransactionSale" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '거래완료'
	</select>
	
	
	<!-- 판매관리 거래완료 목록 조회 -->
	<select id="selectTransactionSaleList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '거래완료'
		AND A.MEMBERNO = #{mid}
	</select>
	
<!-- ============================================================================================= -->
		
	<!-- 판매관리 구매거부 페이징 -->
	<select id="getSaleOther" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '구매거부'
	</select>
	
	<!-- 판매관리 구매거부 목록 조회 -->
	<select id="selectSaleOtherList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '구매거부'
		AND A.MEMBERNO = #{mid}
	</select>	
	
	<!-- 판매관리 반품 페이징 -->
	<select id="getReturnSale" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '반품중'
	</select>
	
	<!-- 판매관리 반품 목록 조회 -->
	<select id="selectReturnSaleList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '반품중'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 미입금 페이징 -->
	<select id="getPaymentSale" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE SALENO = #{mid}
		AND ORDERM = '미입금'
	</select>
	
	<!-- 판매관리 미입금 목록 조회 -->
	<select id="selectPaymentSaleList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '미입금'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 판매거부 insert위해 search -->
	<select id="searchDealPayMemberNo" resultType="WinBid" parameterType="java.lang.String">
		SELECT D.DEALNO, D.PAYNO 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE D.SALENO = #{mid}
		AND W.ITEMNO = #{itemNo}
	</select>
	
	<!-- 판매거부 update -->
	<update id="noSaleUpdate" parameterType="java.lang.String">
		UPDATE WINBIDDETAIL SET ORDERM = '판매거부' 
		WHERE DEALNO = #{dealNo}
		AND SALENO = #{mid}
	</update>
	
	<!-- 판매관리 판매거부 페이징 -->
	<select id="getRefuseToSell2" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBIDDETAIL
		WHERE ORDERM = '판매거부'
		AND SALENO = #{mid} 
	</select>

	<!-- 판매관리 판매거부 목록 조회 -->
	<select id="selectRefuseToSell2List" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '판매거부'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 판매관리 미수령 신고 페이징 -->
	<select id="getNotReceiving2" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM WINBIDDETAIL
		WHERE ORDERM = '미수령'
		AND SALENO = #{mid}
 	</select>
 	
 	<!-- 판매관리 미수령 신고 목록 조회 -->
 	<select id="selectNotReceiving2List" resultMap="payTableResultSet" parameterType="java.lang.String">
 		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '미수령'
		AND A.MEMBERNO = #{mid}
 	</select>
<!-- ============================================================================================= -->		
	<!--//답변페이지 게시판번호 물품번호조회  -->
	 <select id="reanswerDetail" resultMap="answerBoardResultSet" parameterType="java.lang.String">
		SELECT B.BOARDNO, B.ITEMNO , M.MEMBERNAME, B.TITLE FROM BOARD B JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO) WHERE B.BOARDSTATUS = 'RECEIVEBOARD' AND B.BOARDNO = #{answerno}
	</select> 
	
	<!-- 답변페이지 답변등록-->
	<insert id="answerBoardInsert" parameterType="AnswerBoard">
		INSERT INTO REPLY VALUES(RN_SEQ.NEXTVAL, SYSDATE, #{memberContents},#{boardNo},#{memberNo},'N')
	</insert>
	
	<!-- 답변페이지 답변여부확인  -->
	<update id="answerBoardUpdate" parameterType="AnswerBoard">
		UPDATE BOARD SET REPLYSTATUS = 'Y' WHERE BOARDNO = #{boardNo}
	</update>
	
	<!--문의받은게시판 검색 페이징 카운트처리  -->
	<select id="selectSearchResultCount" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
			FROM BOARD B
			JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
			WHERE B.DELETESTATUS = 'N' AND B.BOARDSTATUS = 'RECEIVEBOARD' AND B.SMEMBERNO = #{memberNo}
			<choose>
				<when test="writer != null">
					AND MEMBERID LIKE '%' || #{writer} || '%'
				</when>
				<otherwise >
					AND TITLE LIKE '%' || #{title} || '%'
				</otherwise>
				
			</choose>
	</select>
	<!-- 문의받은게시판 검색 페이징 처리후 결과  -->
	<select id="selectSearchResultList" resultMap="answerBoardResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD B
		JOIN MEMBER M ON(B.MEMBERNO = M.MEMBERNO)
		WHERE B.DELETESTATUS = 'N' AND B.BOARDSTATUS = 'RECEIVEBOARD' AND B.SMEMBERNO = #{memberNo}
		<choose>
			<when test="writer != null">
				AND MEMBERID LIKE '%' || #{writer} || '%'
			</when>
			<otherwise >
				AND TITLE LIKE '%' || #{title} || '%'
			</otherwise>
			
		</choose>
		ORDER BY WRITEDAY DESC
	</select>

<!-- 마이페이지 등급조회 -->
	<select id="selectRating" resultMap="ratingTableResultSet" parameterType="java.lang.String">
	SELECT COUNT(D.ENDDEALSTATUS) AS COUNT, SUM(C.AMOUNT) AS AMOUNT  FROM MEMBER M JOIN WINBID W ON(M.MEMBERNO = W.MEMBERNO) JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO) JOIN EMONEYC C ON(C.DEALNO=W.DEALNO) WHERE M.MEMBERNO = #{memberNo} AND D.ENDDEALSTATUS = 'Y'
	</select>
	
<!-- 마이페이지 등급 VIP -->
	<update id="selectMemberRatingVip" parameterType="java.lang.String">
		UPDATE MEMBER SET RATING = 'VIP' WHERE MEMBERNO = #{memberNo}
	</update>
		
<!-- 마이페이지 등급 GOLD -->
	<update id="selectMemberRatingGold" parameterType="java.lang.String">
		UPDATE MEMBER SET RATING = 'GOLD' WHERE MEMBERNO = #{memberNo}
	</update>

<!-- 마이페이지 등급 일반 -->	
	<update id="selectMemberRatingNormal" parameterType="java.lang.String">
		UPDATE MEMBER SET RATING = '일반' WHERE MEMBERNO = #{memberNo}
	</update>
	
	<!-- 마이페이지 메인에 판매자 리스트 -->
	<select id="geSaletList" resultMap="mainListResultSet" parameterType="java.lang.String">
		SELECT * FROM WINBIDDETAIL WHERE SALENO = #{mid}
	</select>
	
	<!-- 마이페이지 메인에 구매자 리스트 -->
	<select id="PayGetList" resultMap="mainListResultSet" parameterType="java.lang.String">
		SELECT * FROM WINBIDDETAIL WHERE PAYNO = #{mid}
	</select>
	
	<!-- 판매관리 배송중 update -->
	<update id="shippingUpdate" parameterType="java.lang.String">
		UPDATE WINBIDDETAIL SET ORDERM = '배송중' 
		WHERE DEALNO = #{dealNo}
	</update>
	
	<!-- 판매관리 배송중 페이징 -->
	<select id="getShippingSale" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE D.ORDERM = '배송중'
		AND SALENO = #{mid}
	</select>
	
	<!-- 판매관리 배송중 목록 조회 -->
	<select id="selectShippingSaleList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT A.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, M.MEMBERNAME, T.ENDDAY 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL T ON(A.ITEMNO = T.ITEMNO)
		JOIN MEMBER M ON(D.PAYNO = M.MEMBERNO)
		WHERE D.ORDERM = '배송중'
		AND A.MEMBERNO = #{mid}
	</select>
	
	<!-- 구매관리 구매확정 update -->
	<update id="afterReceiptUpdate" parameterType="java.lang.String">
		UPDATE WINBIDDETAIL SET ORDERM = '구매확정' 
		WHERE PAYNO = #{mid}
		AND DEALNO = #{dealNo}
	</update>
	
	<!-- 구매관리 구매확정 페이징 -->
	<select id="getAfterReceipt" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE D.ORDERM = '구매확정'
		AND SALENO = #{mid} 
	</select>
	
	<!-- 구매관리 구매확정 목록 조회 -->
	<select id="selectAfterReceiptList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT W.ITEMNO, A.ITEMNAME, W.PRICE AS CURRENTPRICE, A.ITEMNAME, D.ENDDAY, M.MEMBERNAME AS SMEMBERNAME
		FROM WINBID W 
        JOIN WINBIDDETAIL T ON(W.DEALNO = T.DEALNO)
		JOIN AUCTIONITEM A ON(W.ITEMNO = A.ITEMNO)
		JOIN AUCTIONDETAIL D ON(A.ITEMNO = D.ITEMNO)
		JOIN BID B ON(D.ITEMNO = B.ITEMNO)
		JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO)
		WHERE D.EXITYN = 'Y'
		AND B.MEMBERNO = #{mid}
        AND T.ORDERM = '구매확정'
	</select>
	
	<!-- 구매관리 배송완료 update -->
	<update id="deliveryCheckUpdate" parameterType="java.lang.String">
		UPDATE WINBIDDETAIL SET ORDERM= '배송완료' 
		WHERE DEALNO = #{dealNo}
	</update>
	
	<!-- 구매관리 배송완료 페이징 -->
	<select id="deliveryCheck" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM WINBID W 
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE D.ORDERM = '배송완료'
		AND SALENO = #{mid} 
	</select>
	
	<!-- 판매관리 반품완료 update -->
	<update id="updateReturnFinish" parameterType="java.lang.String">
		UPDATE WINBIDDETAIL SET ORDERM = '반품완료'
		WHERE DEALNO = #{dealNo}
	</update>
	
	<!-- 구매관리 거래신청 yn -->
	<select id="searchWinList" resultMap="payTableResultSet" parameterType="java.lang.String">
		SELECT ITEMNO, ORDERM 
		FROM WINBID W
		JOIN WINBIDDETAIL D ON(W.DEALNO = D.DEALNO)
		WHERE W.MEMBERNO = #{mid}
	</select>
</mapper>