<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPage">

	<!-- 1대1 게시판 조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.MyPageBoard" id="myPageOneResultSet">
		<id property="boardNo" column="BOARDNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="title" column="TITLE"/>
		<result property="boardContents" column="BOARDCONTENT"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="deleteStatus" column="DELETESTATUS"/>
		<result property="boardStatus" column="BOARDSTATUS"/>
		<result property="replyStatus" column="REPLYSTATUS"/>
		<result property="rCommentNo" column="COMMENTNO"/>
		<result property="rWriteDay" column="WRITEDAY"/>
		<result property="rContents" column="CONTENTS"/>
		<result property="rDeleteStatus" column="DELETESTATUS"/>		
	</resultMap>
	
	<!-- 문의게시판 조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.MyPageBoard" id="myPageQueryResultSet">
		<id property="boardNo" column="BOARDNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="itemNo" column="ITEMNO"/>
		<result property="title" column="TITLE"/>
		<result property="boardContents" column="BOARDCONTENT"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="writeDay" column="WRITEDAY"/>
		<result property="deleteStatus" column="DELETESTATUS"/>
		<result property="boardStatus" column="BOARDSTATUS"/>
		<result property="replyStatus" column="REPLYSTATUS"/>
		<result property="rCommentNo" column="COMMENTNO"/>
		<result property="rWriteDay" column="WRITEDAY"/>
		<result property="rContents" column="CONTENTS"/>
		<result property="rDeleteStatus" column="DELETESTATUS"/>		
	</resultMap>
	
	<!-- 위시리스트 조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.WishList" id="wishListResultSet">
		<id property="wishlistno" column ="WISHLISTNO"/>
		<result property="categoryname" column="CATEGORYNAME"/>
		<result property="itemno" column="ITEMNO"/>
		<result property="itemname" column="ITEMNAME"/>
		<result property="startprice" column="STARTPRICE"/>
		<result property="membername" column="MEMBERNAME"/>
		<result property="endday" column="ENDDAY"/>
	</resultMap>
	
	<!-- 계좌조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.Maccount" id="selectAccount">
		<id property="accountNo" column="ACCOUNTNO"/>
		<result property="bankName" column="BANKNAME"/>
		<result property="mid" column="MEMBERNO"/>
		<result property="memberName" column="MEMBERNAME"/>
		<result property="createDay" column="CREATEDAY"/>
	</resultMap>
	
	<!-- 유저정보 조회 -->
	<resultMap type="com.kh.eg.member.model.vo.Member" id="memberResultSet">
		<id property="mid" column="MEMBERNO"/> <!-- 프라이머리 키값만 아이디를 줌 -->
		<result property="userName" column="MEMBERNAME"/>
		<result property="userId" column="MEMBERID"/>
		<result property="userPwd" column="MEMBERPWD"/>
		<result property="account" column="ACCOUNTN"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="rating" column="RATING"/>
		<result property="emoney" column="EMONEY"/>
		<result property="wdStatus" column="WDSTATUS"/>
		<result property="blStatus" column="BLSTATUS"/>
		<result property="joinDate" column="JOINDATE"/>
		<result property="email" column="EMAIL"/>
	</resultMap>
	
	<!-- 낙찰조회 -->
	<resultMap type="com.kh.eg.myPage.model.vo.Winbid" id="winBidResultSet">
		<id property="dealNo" column="DEALNO"/>
		<result property="memberNo" column="MEMBERNO"/>
		<result property="itemNo" column="ITEMNO"/>
	</resultMap>
	
	<!-- 게시글 조회 -->
	<select id="selectMessage" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT *
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
		ORDER BY BOARDNO DESC
	</select>
	
	<!-- 게시글 수 조회 -->
	<select id="countMessage" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
	</select>
	
	<!-- 댓글 삭제 -->
	<update id="deleteReply" parameterType="int">
		UPDATE REPLY SET DELETESTATUS = 'Y' 
		WHERE BOARDNO = #{deleteNum}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteMessage" parameterType="int">
		UPDATE BOARD SET DELETESTATUS = 'Y' WHERE BOARDNO = #{deleteNum}
	</update>
	
	<!-- 게시글 등록 -->
	<insert id="insertMessage" parameterType="MyPageBoard">
		INSERT INTO BOARD
		VALUES(BN_SEQ.NEXTVAL, #{title}, #{boardContents}, #{memberNo}, SYSDATE, 'N', 'ONEBYONE', 'N', 0)
	</insert>
	
	<!-- 쪽지제목으로 게시글 조회 -->
	<select id="searchMessage" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD
		WHERE DELETESTATUS = 'N' 
		AND TITLE LIKE '%' || #{searchTitle} || '%' 
		AND BOARDSTATUS = 'ONEBYONE' 
	</select>
	

	<!-- 위시리스트 -->
	<select id="selectWishList" resultMap="wishListResultSet" parameterType="java.lang.String">
		SELECT w.wishlistno,c.categoryname, a.itemno,a.itemname,a.startprice,m.membername,d.endday FROM WISHLIST W JOIN AUCTIONITEM A ON (W.MEMBERNO = A.MEMBERNO) JOIN CATEGORY C ON (A.CATEGORYNO = C.CATEGORYNO) JOIN MEMBER M ON(A.MEMBERNO = M.MEMBERNO) JOIN AUCTIONDETAIL D ON(D.ITEMNO = A.ITEMNO) WHERE w.deletestatus = 'N' and m.memberno =  #{memberNo}
	</select>
	
	<!-- 위시리스트 삭제 -->
	<update id="deleteWishList"  parameterType="int">
		UPDATE WISHLIST SET DELETESTATUS = 'Y' WHERE WISHLISTNO = #{wishlistno}
	</update>

	<!-- 게시글 상세보기 -->
	<select id="selectOneBoard" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM BOARD 
		WHERE DELETESTATUS = 'N'
		AND BOARDSTATUS = 'ONEBYONE'
		AND BOARDNO = #{boardNo}
	</select>
	
	<!-- 회원정보 조회 -->
	<select id="selectMember" resultMap="memberResultSet" parameterType="Member">
		SELECT * FROM MEMBER WHERE MEMBERNO = #{mid}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET MEMBERPWD = #{userPwd}, PHONE = #{phone}, ADDRESS = #{address} WHERE MEMBERNO = #{mid}
	</update>

	<!-- 회원정보 삭제전 거래번호가 있는지 조회 -->
	<select id="selectWinbid" resultMap="winBidResultSet" parameterType="java.lang.String">
		SELECT * FROM WINBID 
		WHERE MEMBERNO = #{mid}
	</select>

	<!-- 회원정보 삭제 -->
	<update id="deleteUserInfo" parameterType="java.lang.String">
		UPDATE MEMBER SET WDSTATUS = 'Y' WHERE MEMBERNO = #{mid}
	</update>
	
	<!-- 댓글조회 -->
	<select id="selectOneReply" resultMap="myPageOneResultSet" parameterType="java.lang.String">
		SELECT * FROM REPLY 
		WHERE BOARDNO = #{boardNo}
		AND DELETESTATUS = 'N'
	</select>
	
	<!-- 계좌조회 -->
	<select id="selectAccount" resultMap="selectAccount" parameterType="java.lang.String">
		SELECT * FROM MACCOUNT
		WHERE MEMBERNO = #{mid}
	</select>
	
	<!-- 계좌등록 -->
	<insert id="insertAccount" parameterType="Maccount">
		INSERT INTO MACCOUNT
   		VALUES(#{accountNo}, #{bankName}, #{mid}, SYSDATE, #{memberName})
	</insert>
	
	<!-- 계좌변경 -->
	<update id="updateAccount" parameterType="Maccount">
		UPDATE MACCOUNT 
		SET ACCOUNTNO = ACCOUNTNO = #{accountNo}, BANKNAME = #{bankName}, MEMBERNO = #{mid}, CREATEDAY = SYSDATE, MEMBERNAME =  #{memberName}
		 WHERE MEMBERNO = #{mid}
	</update>
	
	<!-- 문의게시판 페이징 처리 -->
	<select id="countQueryBoard" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'QUESTIONBOARD' AND MEMBERNO = #{memberNo}
	</select>
	
	<!-- 수정해야됨 -->
	<!-- 문의게시판 조회 -->
	<select id="selectQueryBoard" resultMap="myPageQueryResultSet" parameterType="java.lang.String">
		SELECT *
		FROM BOARD  
		WHERE DELETESTATUS = 'N' AND BOARDSTATUS = 'ONEBYONE' AND MEMBERNO = #{memberNo}
		ORDER BY BOARDNO DESC
	</select>
</mapper>