<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SecondAdmin">
	<resultMap type="com.kh.eg.secondAdmin.model.vo.SecondAdmin" id="SecondAdminResultSet">
		<result property="categoryName" column="CATEGORYNAME"/>
		<result property="categoryNo" column="CATEGORYNO"/>
		<result property="upperCNO" column="UPPERCATEGORYNO"/>
	</resultMap>
	<select id="categoryName" resultMap="SecondAdminResultSet">
		SELECT CATEGORYNAME,CATEGORYNO FROM CATEGORY WHERE CATEGORYLEVEL = 0
	</select>
	
	<select id="categoryCount" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND D.STARTDAY = SYSDATE
	</select>
	
	<select id="categoryWeeks" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND D.STARTDAY BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	
	<select id="categoryMonth" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND D.STARTDAY BETWEEN SYSDATE-30 AND SYSDATE
	</select>
	
	<select id="categoryYear" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND D.STARTDAY BETWEEN SYSDATE-365 AND SYSDATE
	</select>
	
	<select id="categoryPriceDaysTen" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 1000 AND 10000 AND D.STARTDAY = SYSDATE
	</select>
	
	<select id="categoryPriceDaysHun" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 10001 AND 100000 AND D.STARTDAY = SYSDATE
	</select>
	
	<select id="categoryPriceDaysMil" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 100001 AND 1000000 AND D.STARTDAY = SYSDATE
	</select>
	
	<select id="categoryPriceDaysMax" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE > 1000000 AND D.STARTDAY = SYSDATE
	</select>
	
	<select id="categoryPriceWeekTen" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 1000 AND 10000 AND D.STARTDAY BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	
	<select id="categoryPriceWeekHun" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 10001 AND 100000 AND D.STARTDAY BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	
	<select id="categoryPriceWeekMil" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 100001 AND 1000000 AND D.STARTDAY BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	
	<select id="categoryPriceWeekMax" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE > 1000000 AND D.STARTDAY BETWEEN SYSDATE-7 AND SYSDATE
	</select>
	
	<select id="categoryPriceMonthTen" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 1000 AND 10000 AND D.STARTDAY BETWEEN SYSDATE-30 AND SYSDATE
	</select>
	
	<select id="categoryPriceMonthHun" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 10001 AND 100000 AND D.STARTDAY BETWEEN SYSDATE-30 AND SYSDATE
	</select>
	
	<select id="categoryPriceMonthMil" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 100001 AND 1000000 AND D.STARTDAY BETWEEN SYSDATE-30 AND SYSDATE
	</select>
	
	<select id="categoryPriceMonthMax" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE > 1000000 AND D.STARTDAY BETWEEN SYSDATE-30 AND SYSDATE
	</select>
	
	<select id="categoryPriceYearTen" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 1000 AND 10000 AND D.STARTDAY BETWEEN SYSDATE-365 AND SYSDATE
	</select>
	
	<select id="categoryPriceYearHun" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 10001 AND 100000 AND D.STARTDAY BETWEEN SYSDATE-365 AND SYSDATE
	</select>
	
	<select id="categoryPriceYearMil" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE BETWEEN 100001 AND 1000000 AND D.STARTDAY BETWEEN SYSDATE-365 AND SYSDATE
	</select>
	
	<select id="categoryPriceYearMax" parameterType="java.lang.Integer"   resultType="_int" >
		SELECT COUNT(*) FROM AUCTIONITEM A JOIN CATEGORY C ON(A.CATEGORYNO = C.CATEGORYNO) 
		JOIN AUCTIONDETAIL D ON (A.ITEMNO = D.ITEMNO)
		WHERE C.UPPERCATEGORYNO =#{i} AND A.STARTPRICE > 1000000 AND D.STARTDAY BETWEEN SYSDATE-365 AND SYSDATE
	</select>
</mapper>